<form method="post" action="{{ path('transport_list_delete', {'id': transport_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transport_list.id) }}">
    <button class="btn">Delete</button>
</form>
