<form method="post" action="{{ path('transport_list_delete', {'id': transport_list.id}) }}"
      onsubmit="return confirm('{% trans %}transport_list.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transport_list.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'transport_list.delete.button.delete' }) }}
</form>
