{% extends 'base.html.twig' %}

{% block title %}Edit TransportList{% endblock %}

{% block body %}
    <h1>Edit TransportList</h1>

    {{ include('transport_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transport_list_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('transport_list/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
