<form method="post" action="{{ path('eggs_selections_delete', {'id': eggs_selection.id}) }}"
      onsubmit="return confirm('{% trans %}eggs_inputs_selections.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eggs_selection.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'eggs_inputs_selections.delete.button.delete' }) }}
</form>
