{% extends 'base.html.twig' %}

{% block title %}New EggsSelections{% endblock %}

{% block body %}
    <h1>Create new EggsSelections</h1>

    {{ include('eggs_selections/_form.html.twig') }}

    <a href="{{ path('eggs_selections_index') }}">back to list</a>
{% endblock %}
