{% extends 'base.html.twig' %}

{% block title %}Edit PlanIndicators{% endblock %}

{% block body %}
    <h1>Edit PlanIndicators</h1>

    {{ include('plan_indicators/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('plan_indicators_index') }}">back to list</a>

    {{ include('plan_indicators/_delete_form.html.twig') }}
{% endblock %}
