{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 400px;
            padding: 6px 6px;
        }
    </style>
    <div class="card ">
        <h4 class="card-header">
            {% trans %}main_page.eggs_transfer.title{% endtrans %}
        </h4>
        <div class="card-horizontal">
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            {% trans %}main_page.eggs_transfer.table.date{% endtrans %}
                        </th>
                        <th scope="col">
                            {% trans %}main_page.eggs_transfer.table.eggs_number{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{% trans %}main_page.eggs_transfer.table.first{% endtrans %}</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans %}main_page.eggs_transfer.table.second{% endtrans %}</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans %}main_page.eggs_transfer.table.third{% endtrans %}</th>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <a href="">
                <span class="badge badge-info">
                    {% trans %}main_page.eggs_transfer.list{% endtrans %}
                </span>
            </a>
        </div>
    </div>
{% endblock %}