{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 400px;
            padding: 6px 6px;
        }
    </style>
    <div class="card ">
        <h4 class="card-header">
            {% trans %}main_page.inputs.title{% endtrans %}
        </h4>
        <div class="card-horizontal">
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th scope="row">{% trans %}main_page.inputs.body.inputs_number{% endtrans %}</th>
                        <td>{{ inputs.inputsNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans %}main_page.inputs.body.eggs_number{% endtrans %}</th>
                        <td>{{ inputs.eggsProduction|number_format(0, ',', ' ') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {{ include('layout/buttons/back.html.twig',
                { pathLink: path('eggs_inputs_index'), text: 'main_page.inputs.list'}) }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('layout/buttons/create.html.twig',
                    { pathLink: path('eggs_inputs_new'), text: 'main_page.inputs.new' }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
