{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {% trans %}reset_password.check_email.message{% endtrans %}
         {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>
        {% trans %}reset_password.check_email.no_message{% endtrans %}
         <a href="{{ path('app_forgot_password_request') }}">{% trans %}reset_password.check_email.send{% endtrans %}</a>.</p>
{% endblock %}
