<h1>{% trans %}reset_password.email.title{% endtrans %}</h1>

<p>{% trans %}reset_password.email.message{% endtrans %}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>
    {% trans %}reset_password.email.expire{% endtrans %}
     {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>

<p>
    {% trans %}reset_password.email.signature{% endtrans %}
</p>
