<form method="post" action="{{ path('driver_delete', {'id': driver.id}) }}" onsubmit="return confirm('{% trans %}driver.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driver.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'driver.delete.button.delete' }) }}
</form>
