<form method="post" action="{{ path('eggs_inputs_delete', {'id': eggs_input.id}) }}"
      onsubmit="return confirm('{% trans %}eggs_inputs.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eggs_input.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'eggs_inputs.delete.button.delete' }) }}
</form>
