{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}eggs_inputs.index.title{% endtrans %}
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('eggs_inputs_new') }}">
            {% trans %}eggs_inputs.index.button.new{% endtrans %}
        </a>
    {% endif %}
    {% include('eggs_inputs/table_list.html.twig') %}
{% endblock %}
