{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <div class="d-flex justify-content-center card-group">
        <div class="card">
            <h5 class="card-header">
                {% trans %}eggs_inputs.new.title{% endtrans %}
            </h5>
            <div class="card-body">
                {{ include('eggs_inputs/_form.html.twig') }}
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('eggs_inputs_index') }}">
        {% trans %}eggs_inputs.new.button.back{% endtrans %}
    </a>
{% endblock %}
