{% block body %}
    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th class="align-middle">
            {% trans %}eggs_inputs.show.table.chicks_recipient{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}eggs_inputs.show.table.chick{% endtrans %}
        </th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for farm in farms %}
        <tr>
            <td class="align-middle">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('customer_show' , {id: farm.chicksFarm.customer.id }) }}">
                        {{ farm.chicksFarm.customer.name }}: {{ farm.chicksFarm.name }}
                    </a>
                </div>
            </td>
            <td class="text-center align-middle">{{ farm.chickNumber|number_format(0, ',', ' ') }}
            </td>
        </tr>
    {% endfor %}

    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
