{% block body %}
    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th rowspan="2" class="align-middle">{% trans %}eggs_inputs.show.table.id{% endtrans %}</th>
        <th rowspan="2" class="align-middle">{% trans %}eggs_inputs.table_list.table_deliveries.herd{% endtrans %}</th>
        <th rowspan="2"
            class="text-center align-middle">{% trans %}eggs_inputs.table_list.table_deliveries.eggs_number{% endtrans %}</th>
        <th colspan="5"
            class="text-center align-middle">{% trans %}eggs_inputs.show.table.lighting.title{% endtrans %}</th>
        <th colspan="2"
            class="text-center align-middle bg-light text-black">{% trans %}eggs_inputs.show.table.transfer.title{% endtrans %}</th>
        <th colspan="4"
            class="text-center align-middle">{% trans %}eggs_inputs.show.table.selection.title{% endtrans %}</th>
    </tr>
    <tr>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.lighting.date{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.lighting.eggs_number{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.lighting.waste_eggs{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.lighting.waste_lighting{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.lighting.fertilization{% endtrans %}</th>
        <th class="text-center align-middle bg-light text-black">{% trans %}eggs_inputs.show.table.transfer.date{% endtrans %}</th>
        <th class="text-center align-middle bg-light text-black">{% trans %}eggs_inputs.show.table.transfer.eggs_transfer{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.selection.date{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.selection.chicks{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.selection.cull_chicks{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.selection.unhatched{% endtrans %}</th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}

    {% for herdEgg in herdsEggs %}
        <tr>
            <td class="align-middle">
                <div class="d-grid gap-2">
                </div>
            </td>
            <td class="align-middle">
                <a href="{{ path('herds_show', {'id': herdEgg.herd.id }) }}">
                    {{ herdEgg.herd.name }}
                </a>
            </td>
            <td class="text-center align-middle">
                {{ herdEgg.inputEggs }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    {% endfor %}

    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
