{% extends 'base.html.twig' %}

{% block title %}PlanDeliveryChick index{% endblock %}

{% block body %}
    <h1>PlanDeliveryChick index</h1>

    {{ include('plan_delivery_chick/list_plan_chick.html.twig') }}
    <a href="{{ path('plan_delivery_chick_new') }}">Create new</a>
{% endblock %}
