<form method="post" action="{{ path('contact_info_delete', {'id': contact_info.id}) }}"
      onsubmit="return confirm('{% trans %}contact_info.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_info.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'contact_info.delete.button.delete' }) }}
</form>
