{% extends 'base.html.twig' %}

{% block body %}
        <h1>{% trans %}plans.pdf.herd_delivery.title{% endtrans %}: {{ herd.name }}</h1>

    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th>
            {% trans %}plans.pdf.herd_delivery.date{% endtrans %}
        </th>
        <th>
            {% trans %}plans.pdf.herd_delivery.eggs_number{% endtrans %}
        </th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for plan in plans %}
        <tr>
            <td>{{ plan.deliveryDate|date("Y-m-d") }}</td>
            <td>{{ plan.eggsNumber|number_format(0, ',', ' ') }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                {% trans %}chicks_recipient.index.table.no_records{% endtrans %}
            </td>
        </tr>
    {% endfor %}
    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
