{% extends 'base.html.twig' %}

{% block title %}New Breed{% endblock %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {% trans %}breed.new.title{% endtrans %}
        {% include 'layout/cards/cbody.html.twig' %}
        {{ include('breed/_form.html.twig') }}
        {% include 'layout/cards/cfooter.html.twig' %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig', {pathLink: path('breed_index'), text: 'breed.new.button.back'}) }}
{% endblock %}
