<form method="post" action="{{ path('customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('{% trans %}customer.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'customer.delete.button.delete' }) }}
</form>
