{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}customer.new.title{% endtrans %}</h1>

    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        <i class="fa fa-plus" aria-hidden="true"></i> {% trans %}customer.new.header{% endtrans %}
        {% include 'layout/cards/cbody.html.twig' %}
        {{ include('customer/_form.html.twig') }}
        {% include 'layout/cards/cfooter.html.twig' %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig', {pathLink: path('customer_index'), text: 'customer.new.button.back'}) }}
{% endblock %}
