{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>

    <h1>{% trans %}customer.show.title{% endtrans %}</h1>

    <div class="d-flex justify-content-center card-group">
{{ include('customer/customer_detail_card.html.twig') }}
    </div>
    {{ include('layout/buttons/back.html.twig', { pathLink: path('customer_index'), text: 'customer.show.button.back' }) }}
{% endblock %}
