<form method="post" action="{{ path('input_delivery_delete', {'id': input_delivery.id}) }}"
      onsubmit="return confirm('{% trans %}input_delivery.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ input_delivery.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'input_delivery.delete.button.delete' }) }}
</form>
