<style>
    .card {
        max-width: 800px;
        min-width: 800px;
        padding: 6px 6px;
    }
</style>


<div class="card border-primary m-2 d-print-inline">
    <div class="card-header">
        <a href="{{ path('plan_week', {'week': week.week}) }}">{{ week.week }}</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {{ include('plan/chickColumn.html.twig') }}
            </div>
            <div class="col">
                {{ include('plan/eggColumn.html.twig') }}
            </div>

        </div>
    </div>
</div>
