<form method="post" action="{{ path('plan_delivery_egg_delete', {'id': plan_delivery_egg.id}) }}"
      onsubmit="return confirm('{% trans %}plan_delivery_egg.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plan_delivery_egg.id) }}">
    <button class="btn"><i class="fa fa-trash"></i></button>
</form>
