<form method="post" action="{{ path('plan_delivery_egg_delete', {'id': plan_delivery_egg.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plan_delivery_egg.id) }}">
    <button class="btn">Delete</button>
</form>
