{% include 'layout/tables/thead.html.twig' %}
<tr>
    <th rowspan="2" class="align-middle">
        {% trans %}chicks_recipient.show.table.inputs{% endtrans %}
    </th>
    <th colspan="2" class="text-center align-middle">
        {% trans %}chicks_recipient.show.table.chicks{% endtrans %}
    </th>
    <th rowspan="2" class="text-center align-middle">
        {% trans %}chicks_recipient.show.table.deliveries{% endtrans %}
    </th>
</tr>
<tr>
    <th class="text-center">
        {% trans %}chicks_recipient.show.table.chicks_plan{% endtrans %}
    </th>
    <th class="text-center">
        {% trans %}chicks_recipient.show.table.chicks_real{% endtrans %}
    </th>
</tr>
{% include 'layout/tables/tbody.html.twig' %}
    {% if inputsDetail.inputsFarms is defined %}
        {% for detail in inputsDetail.inputsFarms %}
            <tr>
                <td class="align-middle">
                    <a href="{{ path('eggs_inputs_show', {'id': detail.eggInput.id}) }}">
                        {{ detail.eggInput.name }}
                    </a>
                </td>
                <td class="text-center align-middle">{{ detail.chickNumber }}</td>
                <td class="text-center align-middle">

                </td>
                <td>
                    {% include('eggs_delivery/inputs_delivery.html.twig') %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% include 'layout/tables/tfooter.html.twig' %}
{% include 'layout/tables/tend.html.twig' %}
