{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{% trans %}customer_phone.edit.title{% endtrans %}</h1>
        <div class="d-flex justify-content-center card-group">
            {% include 'layout/cards/chead.html.twig' %}
            <i class="fa fa-pencil"></i>
            {% trans %}customer_phone.edit.header{% endtrans %}
            {% include 'layout/cards/cbody.html.twig' %}
            {{ include('customer_phone/_form.html.twig', {'button_label': 'Update'}) }}
            {% include 'layout/cards/cfooter.html.twig' %}
            {% if is_granted("ROLE_ADMIN") %}
                {{ include('customer_phone/_delete_form.html.twig') }}
            {% endif %}
            {% include 'layout/cards/cend.html.twig' %}
        </div>
        {{ include('layout/buttons/back.html.twig', { pathLink: path('customer_show', {'id': customer_phone.customer.id}), text: 'customer_phone.edit.button.back' }) }}
    </div>
{% endblock %}
