<form method="post" action="{{ path('inputs_farm_plan_delete', {'id': inputs_farm.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inputs_farm.id) }}">
    <button class="btn"><i class="fa fa-trash"></i> </button>
</form>
