<form method="post" action="{{ path('inputs_farm_delete', {'id': inputs_farm.id}) }}"
      onsubmit="return confirm('{% trans %}inputs_farm.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inputs_farm.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'inputs_farm.delete.button.delete' }) }}
</form>
