<form method="post" action="{{ path('herds_edit_active', {'id': herd.id}) }}"
      onsubmit="return confirm('{% trans %}herds.active.confirm.inactive{% endtrans %}');">
    <input type="hidden" name="_token_active" value="{{ csrf_token('active_herd' ~ herd.id) }}">
    <button class="btn">
        <i class="far fa-square"></i>
    </button>
</form>
