{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}herds.index.title{% endtrans %}
        {% if breeder is defined %}
            {{ breeder.name }}
        {% endif %}
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('herds_new') }}">
            {% trans %}herds.index.button.new{% endtrans %}
        </a>
    {% endif %}
    {% include('herds/list.html.twig') %}
{% endblock %}
