{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}herds.index.title{% endtrans %}
        {% if breeder is defined %}
            {{ breeder.name }}
        {% endif %}
    </h1>
    {% if is_granted('ROLE_MANAGER') %}
        {{ include('layout/buttons/new.html.twig',
            { pathLink: path('herds_new'), text: 'herds.index.button.new' }) }}
    {% endif %}
    {% include('herds/list.html.twig') %}
{% endblock %}
