{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <div class="d-flex justify-content-center card-group">
        <div class="card">
            <h5 class="card-header">
                {% trans %}hatchers.edit.title{% endtrans %}
            </h5>
            <div class="card-body">
                {{ include('hatchers/_form.html.twig', {'button_label': 'hatchers.edit.button.update'}) }}
            </div>
            <div class="card-footer bg-transparent border-success d-flex">
                {{ include('hatchers/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('hatchers_index') }}">
        {% trans %}hatchers.edit.button.back{% endtrans %}
    </a>


{% endblock %}
