{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {% trans %}hatchers.edit.title{% endtrans %}
        {% include 'layout/cards/cbody.html.twig' %}
        {{ include('hatchers/_form.html.twig', {'button_label': 'hatchers.edit.button.update'}) }}
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('hatchers/_delete_form.html.twig') }}
        {% endif %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig',
        { pathLink: path('hatchers_index'), text: 'hatchers.edit.button.back' }) }}
{% endblock %}
