{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}plans.index.title{% endtrans %}: {{ herd.name }}</h1>
    <a href="{{ path('herd_delivery_plan_week_pdf', {'id': herd.id}) }}">pdf</a>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for weekPlans in weeksPlans %}
            <div class="col">
                <div class="card-header text-white bg-info">
                    {% trans %}plans.index.week{% endtrans %}:
                    {{ weekPlans.weekPlans.date ? weekPlans.weekPlans.date|format_datetime(pattern='w / r', locale='pl') : '' }}
                </div>
                <div class="card border-info">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-6">{% trans %}plans.index.herd.eggs_delivery{% endtrans %}</dt>
                            <dd class="col-sm-6">{{ weekPlans.weekPlans.eggs|number_format(0, ',', ' ') }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
