<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for weekPlans in weeksPlans %}
        <div class="col">
            <div class="card border-info">
                <div class="card-body">
                    <h5 class="card-title">{% trans %}plans.index.week{% endtrans %} {{ weekPlans.week }}</h5>
                    {% if weekPlans.weekPlans.chicks is defined %}
                        {% include('plans/weekPlansWeekly.html.twig') %}
                    {% else %}
                        {% include('plans/weekPlansDaily.html.twig') %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
