<form method="post" action="{{ path('egg_supplier_delete', {'id': egg_supplier.id}) }}"
      onsubmit="return confirm('{% trans %}egg_supplier.delete.title{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ egg_supplier.id) }}">
    {{ include('layout/buttons/delete.html.twig', { text: 'egg_supplier.delete.button.delete' }) }}
</form>
