{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}plan_input.new.title{% endtrans %}</h1>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {% trans %}plan_input.new.header{% endtrans %}
        {% include 'layout/cards/cbody.html.twig' %}
        {{ include('plan_input/_form.html.twig') }}
        {% include 'layout/cards/cfooter.html.twig' %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig', {pathLink: path('plan_input_index'), text: 'plan_input.new.button.back'}) }}

{% endblock %}
