{% block body %}
    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th class="align-middle">
            {% trans %}plan_input.show.table.id{% endtrans %}
        </th>
        <th class="align-middle">
            {% trans %}plan_input.show.table.chick_recipient{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}plan_input.show.table.chick_number{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}plan_input.show.table.eggs_number{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}plan_input.show.table.action{% endtrans %}
        </th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for planFarm in farms %}
        <tr>
            <td class="align-middle">
            </td>
            <td class="align-middle">
                {{ planFarm.chicksFarm.customer.name }}: {{ planFarm.chicksFarm.name }}
            </td>
            <td class="text-center align-middle">{{ planFarm.chickNumber|number_format(0, ',', ' ') }}
            </td>
            <td></td>
            <td>
                {{ include('plan_input_farm/_delete_form.html.twig') }}
            </td>
        </tr>
    {% endfor %}

    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
